body{
    font-family: "Poppins", sans-serif;
}

.nav-enlace{
    display: inline-block;
    background: rgb(189, 24, 6);;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rgb(216, 79, 79);
}
nav{
    background: rgb(0, 75, 124);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-boton{
    background: rgb(189, 24, 6);
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}
@media (max-width: 500px){
    nav{
        background: rgb(0, 75, 124);
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}